@use './values';
@use './mixins/button';

.sideMenu {
    #sideMenuCheck {
        position: absolute;
        opacity: 1;
    }
    position: absolute;
    width: 160px;
    height: 500px;
    top: 0;
    right: -180px;
    background-color: values.$lightGreen;
    display: flex;
    flex-direction: column;
    padding: 20px 0 20px 20px;
    border-radius: 0 0 0 values.$radiusBig;
    transition: 0.2s;
    &:hover {
        right: 0px;
    }
    button.stopVoices {
        font-family: 'Andika-bold';
        font-size: 16px;
        @include button.btnNext(20px,0,80%, 5px, 3px);
    }
    .containerSoundSlider {
        display: flex;
        flex-direction: row;
        width: 100%;
        height: 40px;
        transition-duration: 0.2s;
        opacity: 0.8;
        .soundicon {
            width: 20%;
            display: flex;
            align-items: center;
            justify-content: center;
            svg {
                width: 90%;
                path {
                    stroke: values.$darkGreen;
                }
            }
        }
        &:hover {
            opacity: 1;
            .soundicon {
                svg {
                    path {
                        stroke: values.$cyan;
                    }
                }
            }
        }
    }
    .slidecontainer {
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .sliderVolume {
        appearance: none;
        box-shadow: inset 0 0 10px rgba(#000, 0.5);
        width: 90%;
        height: 15px;
        background-color: values.$darkGreen;
        border-radius: values.$radiusNormal;
        &::-webkit-slider-thumb {
            -webkit-appearance: none;
            appearance: none;
            width: 25px;
            height: 25px;
            border-radius: 50%;
            background: values.$cyan;
            cursor: pointer;
        }
        &:hover {
            box-shadow: inset 0 0 10px rgba(values.$lightGreen ,0.8);
        }
    }
    .contentMenu {
        overflow-y: scroll;
        max-height: 350px;
    }
    .btnMenu {
        display: block;
        z-index: 10;
        border: none;
        position: absolute;
        height: 100px;
        width: 50px;
        border-radius: values.$radiusSmall 0 0 values.$radiusSmall;
        background-color: values.$lightGreen;
        left: -50px;
        transition-duration: 0.2s;
        &::after {
            content: 'MENU';
            font-family: 'Andika-Bold';
            color: values.$pale;
            position: absolute;
            font-size: 24px;
            right: 0;
            left: 0;
            margin: auto;
            top: 40px;
            transform: rotate(-90deg);
        }
    }
    h1 {
        color: values.$pale;
        font-size: 32px;
    }
    div.option {
        width: auto;
        
        padding: 5px 10px;
        border-radius: values.$radiusSmall;
        font-size: 24px;
        color: values.$pale;
        &:hover {
            background-color: values.$darkGreen;
        }
        &:active {
            background-color: values.$pale;
            color: values.$darkGreen;
        }
    }
}