:root {
    --darker: #1f3d34;
}

$darkGreen: #1f3d34;
$evendarkerGreen: #18322a;
$lessdarkGreen: #2a4c44;
$lightGreen: #487268;
$cyan: #59b59e;
$pale: #fffcf7;

$radiusSmall: 5px;
$radiusNormal: 15px;
$radiusBig: 25px;