:root {
  --darker: #1f3d34;
}

/*
movetop : 15%
moveside : 35%
size: 75px
padding: 25px
borderSize: 6px
*/
.sideMenu {
  position: absolute;
  width: 160px;
  height: 450px;
  top: 0;
  right: -180px;
  background-color: #487268;
  display: flex;
  flex-direction: column;
  padding: 20px 0 20px 20px;
  border-radius: 0 0 0 25px;
  transition: 0.2s;
}
.sideMenu #sideMenuCheck {
  position: absolute;
  opacity: 1;
}
.sideMenu:hover {
  right: 0px;
}
.sideMenu button.stopVoices {
  font-family: "Andika-bold";
  font-size: 16px;
  position: relative;
  transform: translateY(20px) translateX(0);
  color: #1f3d34;
  padding: 5px 8%;
  border-radius: 100px;
  width: 80%;
  height: auto;
  background-color: #59b59e;
  border: 3px solid rgba(31, 61, 52, 0);
  transition-duration: 0.2s;
}
.sideMenu button.stopVoices a {
  color: #1f3d34;
  text-decoration: none;
}
.sideMenu button.stopVoices:hover {
  border: 3px solid #59b59e;
  background-color: rgba(89, 181, 158, 0);
  color: #59b59e;
}
.sideMenu button.stopVoices:hover a {
  color: #59b59e;
}
.sideMenu button.stopVoices:active {
  border: 3px solid #fffcf7;
  background-color: rgba(89, 181, 158, 0.5);
  color: #fffcf7;
}
.sideMenu button.stopVoices:active a {
  color: #fffcf7;
}
.sideMenu .containerSoundSlider {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 40px;
  transition-duration: 0.2s;
  opacity: 0.8;
}
.sideMenu .containerSoundSlider .soundicon {
  width: 20%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.sideMenu .containerSoundSlider .soundicon svg {
  width: 90%;
}
.sideMenu .containerSoundSlider .soundicon svg path {
  stroke: #1f3d34;
}
.sideMenu .containerSoundSlider:hover {
  opacity: 1;
}
.sideMenu .containerSoundSlider:hover .soundicon svg path {
  stroke: #59b59e;
}
.sideMenu .slidecontainer {
  display: flex;
  align-items: center;
  justify-content: center;
}
.sideMenu .sliderVolume {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.5);
  width: 90%;
  height: 15px;
  background-color: #1f3d34;
  border-radius: 15px;
}
.sideMenu .sliderVolume::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background: #59b59e;
  cursor: pointer;
}
.sideMenu .sliderVolume:hover {
  box-shadow: inset 0 0 10px rgba(72, 114, 104, 0.8);
}
.sideMenu .contentMenu {
  overflow-y: scroll;
  max-height: 350px;
}
.sideMenu .btnMenu {
  display: block;
  z-index: 10;
  border: none;
  position: absolute;
  height: 100px;
  width: 50px;
  border-radius: 5px 0 0 5px;
  background-color: #487268;
  left: -50px;
  transition-duration: 0.2s;
}
.sideMenu .btnMenu::after {
  content: "MENU";
  font-family: "Andika-Bold";
  color: #fffcf7;
  position: absolute;
  font-size: 24px;
  right: 0;
  left: 0;
  margin: auto;
  top: 40px;
  transform: rotate(-90deg);
}
.sideMenu h1 {
  color: #fffcf7;
  font-size: 32px;
}
.sideMenu div.option {
  width: auto;
  padding: 5px 10px;
  border-radius: 5px;
  font-size: 24px;
  color: #fffcf7;
}
.sideMenu div.option:hover {
  background-color: #1f3d34;
}
.sideMenu div.option:active {
  background-color: #fffcf7;
  color: #1f3d34;
}

@font-face {
  font-family: "Andika-Bold";
  src: url(./medias/font/andika/AndikaNewBasic-Bold.ttf) format(truetype);
  font-weight: bold;
}
@font-face {
  font-family: "Andika-Bold-Italic";
  src: url(./medias/font/andika/AndikaNewBasic-BoldItalic.ttf) format(truetype);
  font-weight: bold;
  font-style: italic;
}
@font-face {
  font-family: "Andika-Italic";
  src: url(./medias/font/andika/AndikaNewBasic-Italic.ttf) format(truetype);
  font-style: italic;
}
@font-face {
  font-family: "Andika-normal";
  src: url(./medias/font/andika/AndikaNewBasic-Regular.ttf) format(truetype);
}
* {
  margin: 0;
  box-sizing: content-box;
}

body {
  overflow-x: hidden;
  width: 100%;
  min-height: 100%;
}

.containerboth {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  width: 100%;
  justify-content: flex-start;
}

.consigne {
  justify-self: flex-start;
  font-family: "Andika-normal";
  color: #fffcf7;
  margin-right: 10vw;
  margin-left: 5vw;
}

.btnContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  -moz-column-gap: 10px;
       column-gap: 10px;
  margin-top: 1%;
  margin-right: 5vw;
}
.btnContainer .btn {
  position: relative;
  transform: translateY(0) translateX(0);
  color: #1f3d34;
  padding: auto 8%;
  border-radius: 100px;
  width: auto;
  height: auto;
  background-color: #59b59e;
  border: 3px solid rgba(31, 61, 52, 0);
  transition-duration: 0.2s;
  background-color: #1f3d34;
  padding: 2em;
}
.btnContainer .btn a {
  color: #1f3d34;
  text-decoration: none;
}
.btnContainer .btn:hover {
  border: 3px solid #59b59e;
  background-color: rgba(89, 181, 158, 0);
  color: #59b59e;
}
.btnContainer .btn:hover a {
  color: #59b59e;
}
.btnContainer .btn:active {
  border: 3px solid #fffcf7;
  background-color: rgba(89, 181, 158, 0.5);
  color: #fffcf7;
}
.btnContainer .btn:active a {
  color: #fffcf7;
}
.btnContainer .btnMusic {
  background-image: url(./medias/img/medias_ui/musique.png);
  background-repeat: no-repeat;
  background-size: cover;
}
.btnContainer .btnMusicChange {
  background-image: url(./medias/img/medias_ui/nomusique.png);
  background-repeat: no-repeat;
  background-size: cover;
}
.btnContainer .btnFull {
  background-image: url(./medias/img/medias_ui/pleinecran.png);
  background-repeat: no-repeat;
  background-size: cover;
}
.btnContainer .btnFullChange {
  background-image: url(./medias/img/medias_ui/modefenetre.png);
  background-repeat: no-repeat;
  background-size: cover;
}
.btnContainer .btnDownload {
  background-image: url(./medias/img/medias_ui/telecharger.png);
  background-repeat: no-repeat;
  background-size: cover;
}

main {
  overflow-x: hidden;
  font-family: "Andika-normal";
  width: 100%;
  height: 100vh;
  background-color: #2a4c44;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
main.whenHasImg {
  background-color: #18322a;
}
main.whenHasImg .content {
  background-color: rgba(0, 0, 0, 0);
}
main.whenHasImg .containerboth {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  width: 100%;
  justify-content: center;
}
main .barDetailSide {
  background-image: url(./medias/img/medias_ui/echellevertejeu.png);
  background-size: 100% 120%;
  background-repeat: no-repeat;
  position: absolute;
  left: 0;
  top: 0;
  width: 10%;
  height: 100%;
  z-index: 100;
}
main .content {
  position: relative;
  overflow: hidden;
  color: #fffcf7;
  background-color: #1f3d34;
  width: 90%;
  height: 85%;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  row-gap: 40px;
  margin-top: 2vh;
}
main .content .textContent {
  display: flex;
  align-items: center;
  position: absolute;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  filter: drop-shadow(20px 20px 0px #2a4c44);
}
main .content .textContent .audioBtn {
  top: 5%;
  left: 5%;
  position: absolute;
  align-self: normal;
}
main .content .textContent.textContent--1 {
  background-image: url(./medias/img/medias_ui/bulleson.png);
  top: 45px;
  left: 45px;
}
main .content .textContent.textContent--1 h1 {
  position: absolute;
  left: 0;
  right: 0;
  top: 30%;
  margin: auto;
  font-family: "Andika-Bold";
  line-height: 10vmin;
  font-size: 15vmin;
  letter-spacing: 5px;
  text-align: center;
}
main .content .textContent.textContent--1 button.btnToNext {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 20%;
  margin: auto;
}
main .content .textContent.textContent--2 {
  background-image: url(./medias/img/medias_ui/bullemot.png);
  bottom: 45px;
  right: 25px;
}
main .content .textContent.textContent--2 h3 {
  position: absolute;
  left: 0;
  right: 0;
  top: 25%;
  margin: auto;
  text-align: center;
  font-size: 12vmin;
  line-height: 15vmin;
  letter-spacing: 10px;
}
main .content .textContent.textContent--2 h3 em {
  letter-spacing: normal;
  text-decoration: underline;
  font-style: normal;
}
main .content .textContent.textContent--2 button.btnToNext {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 20%;
  margin: auto;
}
main .content .textContent.textContent--big.textContent--1 {
  width: 800px;
  height: 580px;
}
main .content .textContent.textContent--small.textContent--1 {
  width: 600px;
  height: 460px;
}
main .content .textContent.textContent--big.textContent--2 {
  width: 950px;
  height: 580px;
}
main .content .textContent.hidden {
  display: none;
}
main .content button {
  transform: translateY(0) translateX(0);
  padding: 25px;
  border-radius: 100%;
  width: 75px;
  height: 75px;
  background-color: #59b59e;
  border: 6px solid rgba(31, 61, 52, 0);
  transition-duration: 0.2s;
}
main .content button svg {
  width: 75px;
  height: auto;
}
main .content button svg path {
  stroke: #1f3d34;
}
main .content button svg path.hidden {
  display: none;
}
main .content button:hover {
  border: 6px solid #59b59e;
  background-color: rgba(89, 181, 158, 0);
}
main .content button:hover svg path {
  stroke: #59b59e;
}
main .content button:active {
  border: 6px solid #fffcf7;
  background-color: rgba(89, 181, 158, 0.5);
}
main .content button:active svg path {
  stroke: #fffcf7;
}
main .content .audioBtn {
  background-image: url(./medias/img/medias_ui/sonBtn.png);
  background-repeat: no-repeat;
  background-size: contain;
  background-color: rgba(0, 0, 0, 0);
  width: 3vh;
  height: 3vh;
}
main .content .audioBtn:hover {
  filter: brightness(150%);
  border: 6px solid rgba(0, 0, 0, 0);
}
main .content .readText {
  position: relative;
  transform: translateY(20px) translateX(60px);
  color: #1f3d34;
  padding: auto 8%;
  border-radius: 100px;
  width: auto;
  height: auto;
  background-color: #59b59e;
  border: 6px solid rgba(31, 61, 52, 0);
  transition-duration: 0.2s;
  font-size: 24px;
  font-family: "Andika-bold";
  letter-spacing: 0.2px;
}
main .content .readText a {
  color: #1f3d34;
  text-decoration: none;
}
main .content .readText:hover {
  border: 6px solid #59b59e;
  background-color: rgba(89, 181, 158, 0);
  color: #59b59e;
}
main .content .readText:hover a {
  color: #59b59e;
}
main .content .readText:active {
  border: 6px solid #fffcf7;
  background-color: rgba(89, 181, 158, 0.5);
  color: #fffcf7;
}
main .content .readText:active a {
  color: #fffcf7;
}
main .content .answer {
  position: relative;
  transform: translateY(0) translateX(0);
  color: #1f3d34;
  padding: auto 8%;
  border-radius: 100px;
  width: auto;
  height: auto;
  background-color: #59b59e;
  border: 6px solid rgba(31, 61, 52, 0);
  transition-duration: 0.2s;
  background-image: url(./medias/img/medias_ui/prochain.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-color: #1f3d34;
  width: 60px;
  height: 60px;
}
main .content .answer a {
  color: #1f3d34;
  text-decoration: none;
}
main .content .answer:hover {
  border: 6px solid #59b59e;
  background-color: rgba(89, 181, 158, 0);
  color: #59b59e;
}
main .content .answer:hover a {
  color: #59b59e;
}
main .content .answer:active {
  border: 6px solid #fffcf7;
  background-color: rgba(89, 181, 158, 0.5);
  color: #fffcf7;
}
main .content .answer:active a {
  color: #fffcf7;
}
main .content .reward {
  position: relative;
  transform: translateY(0) translateX(0);
  color: #1f3d34;
  padding: auto 8%;
  border-radius: 100px;
  width: auto;
  height: auto;
  background-color: #59b59e;
  border: 6px solid rgba(31, 61, 52, 0);
  transition-duration: 0.2s;
  background-image: url(./medias/img/medias_ui/prochain.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-color: #1f3d34;
  width: 60px;
  height: 60px;
}
main .content .reward a {
  color: #1f3d34;
  text-decoration: none;
}
main .content .reward:hover {
  border: 6px solid #59b59e;
  background-color: rgba(89, 181, 158, 0);
  color: #59b59e;
}
main .content .reward:hover a {
  color: #59b59e;
}
main .content .reward:active {
  border: 6px solid #fffcf7;
  background-color: rgba(89, 181, 158, 0.5);
  color: #fffcf7;
}
main .content .reward:active a {
  color: #fffcf7;
}
main .next {
  position: relative;
  transform: translateY(0) translateX(0);
  color: #1f3d34;
  padding: auto 8%;
  border-radius: 100px;
  width: auto;
  height: auto;
  background-color: #59b59e;
  border: 6px solid rgba(31, 61, 52, 0);
  transition-duration: 0.2s;
  background-image: url(./medias/img/medias_ui/prochain.png);
  background-repeat: no-repeat;
  background-size: cover;
  padding: 30px;
  background-color: #1f3d34;
}
main .next a {
  color: #1f3d34;
  text-decoration: none;
}
main .next:hover {
  border: 6px solid #59b59e;
  background-color: rgba(89, 181, 158, 0);
  color: #59b59e;
}
main .next:hover a {
  color: #59b59e;
}
main .next:active {
  border: 6px solid #fffcf7;
  background-color: rgba(89, 181, 158, 0.5);
  color: #fffcf7;
}
main .next:active a {
  color: #fffcf7;
}
main .img {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  margin: auto;
  border-radius: 15px;
  width: 100%;
  height: 100%;
  background-image: url(./medias/img/photojeu/test/annee-v2.jpg);
  background-size: cover;
  background-position: center;
  /*
  display: flex;
  align-items: end;
  justify-content: center;*/
}
main .img.hidden {
  display: none;
}
main .sideMenu {
  position: absolute;
}

@media screen and (min-width: 2000px) {
  main .barDetailSide {
    width: 300px;
    height: 100%;
  }
  main .content {
    max-width: 1920px;
  }
  main .content .textContent.textContent--big.textContent--1 {
    width: 900px;
    height: 640px;
  }
  main .content .textContent.textContent--small.textContent--1 {
    width: 800px;
    height: 580px;
  }
  main .content .textContent.textContent--big.textContent--2 {
    width: 1100px;
    height: 660px;
  }
  main .img {
    width: 80vw;
  }
}
@media screen and (max-width: 1605px) {
  main .barDetailSide {
    width: 18%;
    height: 100%;
  }
  main .content .textContent.textContent--big.textContent--1 {
    width: 700px;
    height: 520px;
  }
  main .content .textContent.textContent--small.textContent--1 {
    width: 500px;
    height: 360px;
  }
  main .content .textContent.textContent--big.textContent--2 {
    bottom: -20px;
    width: 840px;
    height: 560px;
  }
}
@media screen and (max-width: 950px) {
  main .content {
    width: 95%;
  }
  main .content button {
    transform: translateY(15%) translateX(10px);
    padding: 25px;
    border-radius: 100%;
    width: 75px;
    height: 75px;
    background-color: #59b59e;
    border: 6px solid rgba(31, 61, 52, 0);
    transition-duration: 0.2s;
  }
  main .content button svg {
    width: 75px;
    height: auto;
  }
  main .content button svg path {
    stroke: #1f3d34;
  }
  main .content button svg path.hidden {
    display: none;
  }
  main .content button:hover {
    border: 6px solid #59b59e;
    background-color: rgba(89, 181, 158, 0);
  }
  main .content button:hover svg path {
    stroke: #59b59e;
  }
  main .content button:active {
    border: 6px solid #fffcf7;
    background-color: rgba(89, 181, 158, 0.5);
  }
  main .content button:active svg path {
    stroke: #fffcf7;
  }
}
@media screen and (max-width: 870px) {
  .containerboth {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    width: 100%;
    justify-content: center;
  }
  .consigne {
    justify-self: flex-start;
    font-family: "Andika-normal";
    color: #fffcf7;
    margin-right: 0;
    margin-left: 0;
    margin-top: 1vh;
    text-align: center;
  }
  .btnContainer {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    -moz-column-gap: 10px;
         column-gap: 10px;
    margin-top: 1vh;
    margin-right: 0;
  }
  .btnContainer .btn {
    position: relative;
    transform: translateY(0) translateX(0);
    color: #1f3d34;
    padding: auto 8%;
    border-radius: 100px;
    width: auto;
    height: auto;
    background-color: #59b59e;
    border: 3px solid rgba(31, 61, 52, 0);
    transition-duration: 0.2s;
    background-color: #1f3d34;
    padding: 2em;
  }
  .btnContainer .btn a {
    color: #1f3d34;
    text-decoration: none;
  }
  .btnContainer .btn:hover {
    border: 3px solid #59b59e;
    background-color: rgba(89, 181, 158, 0);
    color: #59b59e;
  }
  .btnContainer .btn:hover a {
    color: #59b59e;
  }
  .btnContainer .btn:active {
    border: 3px solid #fffcf7;
    background-color: rgba(89, 181, 158, 0.5);
    color: #fffcf7;
  }
  .btnContainer .btn:active a {
    color: #fffcf7;
  }
  .btnContainer .btnMusic {
    background-image: url(./medias/img/medias_ui/musique.png);
    background-repeat: no-repeat;
    background-size: cover;
  }
  .btnContainer .btnMusicChange {
    background-image: url(./medias/img/medias_ui/nomusique.png);
    background-repeat: no-repeat;
    background-size: cover;
  }
  .btnContainer .btnFull {
    background-image: url(./medias/img/medias_ui/pleinecran.png);
    background-repeat: no-repeat;
    background-size: cover;
  }
  .btnContainer .btnFullChange {
    background-image: url(./medias/img/medias_ui/modefenetre.png);
    background-repeat: no-repeat;
    background-size: cover;
  }
  .btnContainer .btnDownload {
    background-image: url(./medias/img/medias_ui/telecharger.png);
    background-repeat: no-repeat;
    background-size: cover;
  }
}
@media screen and (max-width: 825px) {
  main .barDetailSide {
    width: 18%;
  }
  main .content .textContent.textContent--big.textContent--1 {
    left: 0;
    right: 0;
    margin: auto;
    width: 550px;
    height: 420px;
  }
  main .content .textContent.textContent--big.textContent--1 button.btnToNext {
    right: 10px;
    left: auto;
    bottom: 20%;
  }
  main .content .textContent.textContent--small.textContent--1 {
    top: 5px;
    left: 0;
    right: 0;
    margin: auto;
    width: 400px;
    height: 360px;
  }
  main .content .textContent.textContent--big.textContent--2 {
    left: 0;
    right: 0;
    margin: auto;
    width: 580px;
    height: 360px;
  }
  main .content .textContent.textContent--big.textContent--2 button.btnToNext {
    right: 10px;
    left: auto;
    bottom: 25%;
  }
}
@media screen and (max-height: 800px) {
  main .barDetailSide {
    width: 18%;
  }
  main .content .textContent.textContent--big.textContent--1 {
    left: 0;
    right: 0;
    margin: auto;
    width: 550px;
    height: 420px;
  }
  main .content .textContent.textContent--big.textContent--1 button.btnToNext {
    right: 10px;
    left: auto;
    bottom: 20%;
  }
  main .content .textContent.textContent--small.textContent--1 {
    top: 5px;
    left: 0;
    right: 0;
    margin: auto;
    width: 400px;
    height: 360px;
  }
  main .content .textContent.textContent--big.textContent--2 {
    left: 0;
    right: 0;
    margin: auto;
    width: 550px;
    max-width: 100%;
    height: 360px;
  }
  main .content .textContent.textContent--big.textContent--2 button.btnToNext {
    right: 10px;
    left: auto;
    bottom: 25%;
  }
}
@media screen and (max-height: 600px) {
  main .barDetailSide {
    width: 25vw;
  }
  main .content .textContent.textContent--big.textContent--1 {
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    width: 550px;
    height: 420px;
  }
  main .content .textContent.textContent--big.textContent--1 button.btnToNext {
    right: 10px;
    left: auto;
    bottom: 20%;
  }
  main .content .textContent.textContent--small.textContent--1 {
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    width: 400px;
    height: 360px;
  }
  main .content .textContent.textContent--big.textContent--2 {
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    width: 550px;
    max-width: 100%;
    height: 360px;
  }
  main .content .textContent.textContent--big.textContent--2 button.btnToNext {
    right: 10px;
    left: auto;
    bottom: 25%;
  }
}
.hidden {
  display: none;
}/*# sourceMappingURL=style.css.map */