@use './scss/menu';
@use './scss/values';
@use './scss/mixins/button';


@font-face {
    font-family: 'Andika-Bold';
    src: url(./medias/font/andika/AndikaNewBasic-Bold.ttf) format(truetype);
    font-weight: bold;
}

@font-face {
    font-family: 'Andika-Bold-Italic';
    src: url(./medias/font/andika/AndikaNewBasic-BoldItalic.ttf) format(truetype);
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: 'Andika-Italic';
    src: url(./medias/font/andika/AndikaNewBasic-Italic.ttf) format(truetype);
    font-style: italic;
}

@font-face {
    font-family: 'Andika-normal';
    src: url(./medias/font/andika/AndikaNewBasic-Regular.ttf) format(truetype);
}

* {
    margin: 0;
    box-sizing: content-box;
}

body {
    overflow-x: hidden;
    width: 100%;
    min-height: 100%;
}

main {
    overflow-x: hidden;
    font-family: 'Andika-normal';
    width: 100%;
    height: 100vh;
    background-color: values.$darkGreen;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    .content {
        overflow: hidden;
        color: values.$pale;
        background-color: values.$lessdarkGreen;
        width: 90%;
        min-height: 80%;
        border-radius: values.$radiusNormal;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        .textContent {
            margin-bottom: 10%;
            display: flex;
            align-items: center;
            justify-content: center;
            &--1 {
                h1 {
                    line-height: 200px;
                }
            }
            &--2 {
                margin-bottom: 5%;
            }
        }
        .textContent.hidden {
            display: none;
        }
        button {
            @include button.btnSound(15%, 35%, 75px, 25px, 6px);
        }
        .readText {
            @include button.btnNext(20px, 60px, auto, auto, 6px);
            font-size: 24px;
            font-family: 'Andika-bold';
            letter-spacing: 0.2px;
        }
        .answer {
            font-family: 'Andika-normal';
            @include button.btnNext(0, 0, auto, auto, 6px);
            font-size: 36px;
        }
        .reward {
            font-family: 'Andika-normal';
            @include button.btnNext(0, 0, auto, auto, 6px);
            font-size: 36px;
        }
        h1 {
            font-family: 'Andika-Bold';
            font-size: 30vmin;
            letter-spacing: 10px;
        }
        h3 {
            font-size: 20vmin;
            letter-spacing: 10px;
            em {
                color: values.$cyan;
                letter-spacing: normal;
                text-decoration: underline;
                font-style: normal;
            }
        }
    }
    .next {
        margin-top: 20px;
        margin-bottom: 15px;
        font-family: 'Andika-normal';
        @include button.btnNext(0, 0, auto, auto, 6px);
        font-size: 36px;
        padding: 5px 25px;
    }
    .img {
        position: absolute;
        border-radius: values.$radiusNormal;
        width: 70%;
        height: 70%;
        background-image: url(./medias/img/photojeu/test/annee-v2.jpg);
        background-size: cover;
        background-position: center;
        display: flex;
        align-items: end;
        justify-content: center;
        
    }
    .img.hidden {
        display: none;
    }
    .sideMenu {
        position: absolute;
    }
}

.hidden {
    display: none;
}

