@use './scss/menu';
@use './scss/values';
@use './scss/mixins/button';


@font-face {
    font-family: 'Andika-Bold';
    src: url(./medias/font/andika/AndikaNewBasic-Bold.ttf) format(truetype);
    font-weight: bold;
}

@font-face {
    font-family: 'Andika-Bold-Italic';
    src: url(./medias/font/andika/AndikaNewBasic-BoldItalic.ttf) format(truetype);
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: 'Andika-Italic';
    src: url(./medias/font/andika/AndikaNewBasic-Italic.ttf) format(truetype);
    font-style: italic;
}

@font-face {
    font-family: 'Andika-normal';
    src: url(./medias/font/andika/AndikaNewBasic-Regular.ttf) format(truetype);
}

* {
    margin: 0;
    box-sizing: content-box;
}

body {
    overflow-x: hidden;
    width: 100%;
    min-height: 100%;
}

.btnContainer {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    column-gap: 10px;
    margin-top: 1%;

    .btn {
        @include button.btnNext(0, 0, auto, auto, 3px);
        background-color: values.$darkGreen;
        padding: 2em;
    }

    .btnMusic {
        background-image: url(./medias/img/medias_ui/musique.png);
        background-repeat: no-repeat;
        background-size: cover;
    }

    .btnMusicChange {
        background-image: url(./medias/img/medias_ui/nomusique.png);
        background-repeat: no-repeat;
        background-size: cover;
    }

    .btnFull {
        background-image: url(./medias/img/medias_ui/pleinecran.png);
        background-repeat: no-repeat;
        background-size: cover;
    }

    .btnFullChange {
        background-image: url(./medias/img/medias_ui/modefenetre.png);
        background-repeat: no-repeat;
        background-size: cover;
    }

    .btnDownload {
        background-image: url(./medias/img/medias_ui/telecharger.png);
        background-repeat: no-repeat;
        background-size: cover;
    }
}


main {
    overflow-x: hidden;
    font-family: 'Andika-normal';
    width: 100%;
    height: 100vh;
    background-color: values.$lessdarkGreen;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    &.whenHasImg {
        background-color: values.$evendarkerGreen;
        .content {
            background-color: rgba(0,0,0,0);
        }
    }

    .barDetailSide {
        background-image: url(./medias/img/medias_ui/echellevertejeu.png);
        background-size: 100% 120%;
        background-repeat: no-repeat;
        position: absolute;
        left: 0;
        top: 0;
        width: 10%;
        height: 100%;
        z-index: 100;
    }

    .content {
        position: relative;
        overflow: hidden;
        color: values.$pale;
        background-color: values.$darkGreen;
        width: 90%;
        min-height: 85%;
        border-radius: values.$radiusNormal;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        row-gap: 40px;

        .textContent {
            display: flex;
            align-items: center;
            //width: 100%;
            position: absolute;
            background-size: contain;
            background-repeat: no-repeat;
            background-position: center;
            filter: drop-shadow(20px 20px 0px values.$lessdarkGreen);
            .audioBtn {
                top: 5%;
                left: 5%;
                position: absolute;
                align-self: normal;
            }

            &.textContent--1 {
                background-image: url(./medias/img/medias_ui/bulleson.png);
                top: 45px;
                left: 45px;
                h1 {
                    position: absolute;
                    left: 0;
                    right: 0;
                    top: 30%;
                    margin: auto;
                    font-family: 'Andika-Bold';
                    line-height: 10vmin;
                    font-size: 15vmin;
                    letter-spacing: 5px;
                    text-align: center;
                    //width: 100%;
                }
                button.btnToNext {
                    position: absolute;
                    left: 0;
                    right: 0;
                    bottom: 20%;
                    margin: auto;
                }
            }

            &.textContent--2 {
                background-image: url(./medias/img/medias_ui/bullemot.png);
                bottom: 45px;
                right: 25px;
                h3 {
                    position: absolute;
                    left: 0;
                    right: 0;
                    top: 25%;
                    margin: auto;
                    text-align: center;
                    font-size: 12vmin;
                    line-height: 15vmin;
                    letter-spacing: 10px;
        
                    em {
                        letter-spacing: normal;
                        text-decoration: underline;
                        font-style: normal;
                    }
                }
                button.btnToNext {
                    position: absolute;
                    left: 0;
                    right: 0;
                    bottom: 20%;
                    margin: auto;
                }
            }

            &.textContent--big.textContent--1 {
                width: 800px;
                height: 580px;
            }

            &.textContent--small.textContent--1 {
                width: 600px;
                height: 460px;
            }

            &.textContent--big.textContent--2 {
                width: 950px;
                height: 580px;
            }

        }

        .textContent.hidden {
            display: none;
        }

        button {
            @include button.btnSound(0, 0, 75px, 25px, 6px);
        }

        .audioBtn {
            background-image: url(./medias/img/medias_ui/sonBtn.png);
            background-repeat: no-repeat;
            background-size: contain;
            background-color: rgba($color: #000000, $alpha: 0.0);
            width: 3vh;
            height: 3vh;

            &:hover {
                filter: brightness(150%); 
                border: 6px solid rgba($color: #000000, $alpha: 0.0); 
            }
        }

        .readText {
            @include button.btnNext(20px, 60px, auto, auto, 6px);
            font-size: 24px;
            font-family: 'Andika-bold';
            letter-spacing: 0.2px;
        }

        .answer {
            @include button.btnNext(0, 0, auto, auto, 6px);

            background-image: url(./medias/img/medias_ui/prochain.png);
            background-repeat: no-repeat;
            background-size: cover;
            background-color: values.$darkGreen;
            width: 60px;
            height: 60px;
        }

        .reward {
            @include button.btnNext(0, 0, auto, auto, 6px);
            background-image: url(./medias/img/medias_ui/prochain.png);
            background-repeat: no-repeat;
            background-size: cover;
            background-color: values.$darkGreen;
            width: 60px;
            height: 60px;
        }

        

        
    }

    .next {
        @include button.btnNext(0, 0, auto, auto, 6px);
        background-image: url(./medias/img/medias_ui/prochain.png);
        background-repeat: no-repeat;
        background-size: cover;
        padding: 30px;
        background-color: values.$darkGreen;
    }

    .img {
        position: absolute;
        top: 0;
        bottom: 0;
        right: 0;
        margin: auto;
        border-radius: values.$radiusNormal;
        width: 85%;
        height: 100%;
        background-image: url(./medias/img/photojeu/test/annee-v2.jpg);
        background-size: cover;
        background-position: center;
        /*
        display: flex;
        align-items: end;
        justify-content: center;*/
    }

    .img.hidden {
        display: none;
    }

    .sideMenu {
        position: absolute;
    }
}

@media screen and (min-width: 2000px) {
    main {
        .barDetailSide {
            width: 300px;
            height: 100%;
        }
        .content {
            max-width: 1920px;
            .textContent {
                &.textContent--big.textContent--1 {
                    width: 900px;
                    height: 640px;
                }
    
                &.textContent--small.textContent--1 {
                    width: 800px;
                    height: 580px;
                }
    
                &.textContent--big.textContent--2 {
                    width: 1100px;
                    height: 660px;
                }
            }
        }
        .img {
            width: 80vw;
        }
    }
}

@media screen and (max-width: 1605px) {
    main {
        .barDetailSide {
            width: 18%;
            height: 100%;
        }
        .content {
            .textContent {
                &.textContent--big.textContent--1 {
                    width: 700px;
                    height: 520px;
                }
    
                &.textContent--small.textContent--1 {
                    width: 500px;
                    height: 360px;
                }
    
                &.textContent--big.textContent--2 {
                    bottom: -20px;
                    width: 840px;
                    height: 560px;
                }
            }
        }
    }
}

@media screen and (max-width: 950px) {
    main {
        .content {
            width: 95%;

            button {
                @include button.btnSound(15%, 10px, 75px, 25px, 6px);
            }
        }
    }
}

@media screen and (max-width: 825px) {
    main {
        .barDetailSide {
            width: 25vw;
        }
        .content {
            .textContent {
                &.textContent--big.textContent--1 {
                    left: 0;
                    right: 0;
                    margin: auto;
                    width: 550px;
                    height: 420px;
                    button.btnToNext {
                        right: 10px;
                        left: auto;
                        bottom: 20%;
                    }
                }
    
                &.textContent--small.textContent--1 {
                    top: 5px;
                    left: 0;
                    right: 0;
                    margin: auto;
                    width: 400px;
                    height: 360px;
                }
    
                &.textContent--big.textContent--2 {
                    left: 0;
                    right: 0;
                    margin: auto;
                    width: 580px;
                    //max-width: 100%;
                    height: 360px;
                    button.btnToNext {
                        right: 10px;
                        left: auto;
                        bottom: 25%;
                    }
                }
            }
        }
    }
}

@media screen and (max-height: 800px) {
    main {
        .barDetailSide {
            width: 25vw;
        }
        .content {
            .textContent {
                &.textContent--big.textContent--1 {
                    left: 0;
                    right: 0;
                    margin: auto;
                    width: 550px;
                    height: 420px;
                    button.btnToNext {
                        right: 10px;
                        left: auto;
                        bottom: 20%;
                    }
                }
    
                &.textContent--small.textContent--1 {
                    top: 5px;
                    left: 0;
                    right: 0;
                    margin: auto;
                    width: 400px;
                    height: 360px;
                }
    
                &.textContent--big.textContent--2 {
                    left: 0;
                    right: 0;
                    margin: auto;
                    width: 550px;
                    max-width: 100%;
                    height: 360px;
                    button.btnToNext {
                        right: 10px;
                        left: auto;
                        bottom: 25%;
                    }
                }
            }
        }
    }
}

@media screen and (max-height: 600px) {
    main {
        .barDetailSide {
            width: 25vw;
        }
        .content {
            .textContent {
                &.textContent--big.textContent--1 {
                    left: 0;
                    right: 0;
                    top: 0;
                    bottom: 0;
                    margin: auto;
                    width: 550px;
                    height: 420px;
                    button.btnToNext {
                        right: 10px;
                        left: auto;
                        bottom: 20%;
                    }
                }
    
                &.textContent--small.textContent--1 {
                    top: 0;
                    bottom: 0;
                    left: 0;
                    right: 0;
                    margin: auto;
                    width: 400px;
                    height: 360px;
                }
    
                &.textContent--big.textContent--2 {
                    left: 0;
                    right: 0;
                    top: 0;
                    bottom: 0;
                    margin: auto;
                    width: 550px;
                    max-width: 100%;
                    height: 360px;
                    button.btnToNext {
                        right: 10px;
                        left: auto;
                        bottom: 25%;
                    }
                }
            }
        }
    }
}

.hidden {
    display: none;
}