@use './scss/menu';
@use './scss/values';
@use './scss/mixins/button';


@font-face {
    font-family: 'Andika-Bold';
    src: url(./medias/font/andika/AndikaNewBasic-Bold.ttf) format(truetype);
    font-weight: bold;
}

@font-face {
    font-family: 'Andika-Bold-Italic';
    src: url(./medias/font/andika/AndikaNewBasic-BoldItalic.ttf) format(truetype);
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: 'Andika-Italic';
    src: url(./medias/font/andika/AndikaNewBasic-Italic.ttf) format(truetype);
    font-style: italic;
}

@font-face {
    font-family: 'Andika-normal';
    src: url(./medias/font/andika/AndikaNewBasic-Regular.ttf) format(truetype);
}

* {
    margin: 0;
    box-sizing: content-box;
}

body {
    overflow-x: hidden;
    width: 100%;
    min-height: 100%;
}

.btnContainer {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    column-gap: 10px;
    margin-top: 20px;
    .btn {
        @include button.btnNext(0,0,auto,auto,3px);
        padding: 30px; 
        background-color: values.$darkGreen;
    }
    .btnMusic {
        background-image: url(./medias/img/medias_ui/musique.png);
        background-repeat: no-repeat;
        background-size: cover;  
    }
    .btnMusicChange {
        background-image: url(./medias/img/medias_ui/nomusique.png);
        background-repeat: no-repeat;
        background-size: cover;
    }
    .btnFull {
        background-image: url(./medias/img/medias_ui/pleinecran.png);
        background-repeat: no-repeat;
        background-size: cover;
    }
    .btnFullChange {
        background-image: url(./medias/img/medias_ui/modefenetre.png);
        background-repeat: no-repeat;
        background-size: cover;
    }
    .btnDownload {
        background-image: url(./medias/img/medias_ui/telecharger.png);
        background-repeat: no-repeat;
        background-size: cover;
    }
}


main {
    overflow-x: hidden;
    font-family: 'Andika-normal';
    width: 100%;
    height: 100vh;
    background-color: values.$lessdarkGreen;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    .content {
        overflow: hidden;
        color: values.$pale;
        background-color: values.$darkGreen;
        width: 90%;
        min-height: 85%;
        border-radius: values.$radiusNormal;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        row-gap: 40px;
        .textContent {
            //margin-bottom: 40px;
            display: flex;
            align-items: center;
            justify-content: center;
            /*
            &--1 {
                h1 {
                    
                }
            }
            &--2 {
                margin-bottom: 5%;
                h3 {
                    line-height: 275px;
                }
            }*/
        }
        .textContent.hidden {
            display: none;
        }
        button {
            @include button.btnSound(15%, 35%, 75px, 25px, 6px);
        }
        .readText {
            @include button.btnNext(20px, 60px, auto, auto, 6px);
            font-size: 24px;
            font-family: 'Andika-bold';
            letter-spacing: 0.2px;
        }
        .answer {
            @include button.btnNext(0, 0, auto, auto, 6px);

            background-image: url(./medias/img/medias_ui/prochain.png);
            background-repeat: no-repeat;
            background-size: cover; 
            background-color: values.$darkGreen;
            width: 60px;
            height: 60px;
        }
        .reward {
            @include button.btnNext(0, 0, auto, auto, 6px);
            background-image: url(./medias/img/medias_ui/prochain.png);
            background-repeat: no-repeat;
            background-size: cover; 
            background-color: values.$darkGreen;
            width: 60px;
            height: 60px;
        }
        h1 {
            font-family: 'Andika-Bold';
            font-size: 30vmin;
            line-height: 30vmin;
            letter-spacing: 10px;
        }
        h3 {
            font-size: 15vmin;
            line-height: 15vmin;
            letter-spacing: 10px;
            em {
                letter-spacing: normal;
                text-decoration: underline;
                font-style: normal;
            }
        }
    }
    .next {
        @include button.btnNext(0, 0, auto, auto, 6px);
        background-image: url(./medias/img/medias_ui/prochain.png);
        background-repeat: no-repeat;
        background-size: cover; 
        padding: 30px;
        background-color: values.$darkGreen;
    }
    .img {
        position: absolute;
        border-radius: values.$radiusNormal;
        width: 85%;
        height: 80%;
        background-image: url(./medias/img/photojeu/test/annee-v2.jpg);
        background-size: cover;
        background-position: center;
        display: flex;
        align-items: end;
        justify-content: center;
        
    }
    .img.hidden {
        display: none;
    }
    .sideMenu {
        position: absolute;
    }
}

@media screen and (max-width: 950px) {
    main {
        .content {
            width: 95%;
            button {
                @include button.btnSound(15%, 10px, 75px, 25px, 6px);
            }
        }
    }
}

.hidden {
    display: none;
}

